#header {
    position: fixed;
    height: 20%;
    width: 98.5%;
    background: rgb(4, 8, 90);
    z-index: 5;
    top: 0%;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(100, 200, 200);
    position: absolute;
    font-size: 120%;
}

a:hover {
    text-decoration: underline;
}

#right_nav {
    position: fixed;
    height: 58%;
    width: 29.5%;
    border: 1px orange solid;
    top: 21.5%;
    left: 69.5%;
}

#events {
    width: 100%;
    height: 50%;
    background: red;
    background: rgba(0, 4, 60, 200);
}

#news {
    width: 100%;
    height: 50%;
    background: rgba(1, 1, 80, 255);
}

#photos {
    position: absolute;
    width: 68%;
    top: 21.5%;
    border: 1px blue solid;
    height: 60%;
}

#image {
    width: 100%;
    height: 100%;
}

#next, #back {
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 4;
    background: black;
    opacity: 0.1;
    cursor: pointer;
}

#back:hover {
    opacity: 0.5;
}

#next:hover {
    opacity: 0.5;
}

#next {
    left: 94%;
}

#back {
    top: 0%;
}

strong {
    position: absolute;
    top: 35%;
    font-size: 400%;
    cursor: pointer;
    color: green;
    opacity: 0.9;
}

#stories {
    position: absolute;
    width: 68%;
    top: 88%;
    border: 1px green solid;
    height: 60%;
}

#footer {
    position: absolute;
    height: 20%;
    width: 98.5%;
    background: rgb(0, 0, 10);
    top: 168%;
}

#time {
    position: absolute;
    color: white;
    left: 65%;
}