html {
    background: rgb(0, 0, 3);
}

#header {
    position: fixed;
    height: 20%;
    width: 98.5%;
    background: rgb(4, 8, 90);
    z-index: 5;
    top: 0%;
}

h1, p, li {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(100, 200, 200);
    position: absolute;
    font-size: 120%;
}

h3, p, ol {
    text-align: center;
}

h3 {
    color: rgb(0, 0, 255);
}

a:hover {
    text-decoration: underline;
}

#right_nav {
    position: fixed;
    height: 58%;
    width: 29.5%;
    border: 1px orange solid;
    top: 21.5%;
    left: 69.5%;
}

#events {
    width: 100%;
    height: 50%;
    background: red;
    background: rgba(0, 4, 60, 200);
    overflow: hidden;
    stop-color: red;
}

#events:hover {
    overflow: scroll;
}

#events ol {
    list-style-type: none;
    left: -10%;
    text-align: left;
}

#events ol li:hover {
    cursor: pointer;
    background-color: orange;
    width: 90%;
}

#news {
    width: 100%;
    height: 50%;
    background: rgba(1, 1, 80, 255);
}

#photos {
    position: absolute;
    width: 68%;
    top: 21.5%;
    border: 1px blue solid;
    height: 60%;
}

#image {
    width: 100%;
    height: 100%;
}

#next, #back {
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 4;
    background: black;
    opacity: 0.1;
    cursor: pointer;
}

#back:hover {
    opacity: 0.5;
}

#next:hover {
    opacity: 0.5;
}

#next {
    left: 94%;
}

#back {
    top: 0%;
}

strong {
    position: absolute;
    top: 35%;
    font-size: 400%;
    cursor: pointer;
    color: green;
    opacity: 0.9;
}

#stories {
    position: absolute;
    width: 68%;
    top: 88%;
    border: 1px green solid;
    height: 60%;
    background: rgb(0, 0, 0);
}

#footer {
    position: absolute;
    height: 20%;
    width: 98.5%;
    background: rgb(0, 0, 10);
    top: 168%;
}

#footer ol {
    list-style-type: none;
}

#footer li a {
    color: orange;
    position: relative;
    font-size: 87%;
}

#footer #ownership, #partnership, #charities, #privacy {
    position: absolute;
    width: 25%;
}

#ownership {
    left: 0%;
}

#partnership {
    left: 25%;
}

#charities {
    left: 50%;
}

#privacy {
    left: 75%;
}

#time {
    position: absolute;
    color: white;
    left: 65%;
}